.notes-container{
    /* height: auto; */
    /* min-height: 350px; */
    width: 50vw;
    background: #001f3f;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.note-div{
    height: auto;
    width: 340px;
    border-radius: 15px;
    background: #39CCCC;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 10px 10px;
    margin: 15px;
}
.title{
    font-size: 30px;
    padding: 10px;
    border-left: 3px solid #0d5f58;
    text-transform: capitalize;
    font-weight: 550;
}
.description{
    font-size: 18px;
    margin: 10px;
    font-weight: 550;

}

.button{
    display: flex;
    justify-content: flex-end;
}
.btn{
    margin: 5px;
}